* {
    box-sizing: border-box;
}

html{
/*
    overflow: scroll;
    overflow-x: hidden;
*/
    font-family: 'Montserrat', sans-serif;
}

/*
::-webkit-scrollbar{
    width: 0px;
    background: transparent;
}
*/

body{
    animation: transitionIn 2s;
}

.top{
    width: 1520px;
    margin: 0 -9px;
}

.logo{
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    margin-top: 40px;
    width: 125px;
    height: auto;
}

.navwrapper{
    text-align:center;
}

.topnav{
    overflow: hidden;
    display: inline-block;
    padding-bottom: 40px;
}

.topnav a{
    float: left;
    color: black;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover{
    background-color: #ddd;
    color: black;
}

.topnav a.active{
    background: linear-gradient(#000000, #00008B );
    color: white;
}
.topnav a:first-child:hover{
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.topnav a:last-child:hover{
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.page{
    background: linear-gradient(to bottom, #000000, #00008B );
    margin-left: -9px;
    margin-right: -9px;
/*
    display: flex;
    flex-direction: column;
    align-items:center;
    align-content: center;
*/
    color: white;
    width: 1520px;
/*    overflow: auto;*/
/*    margin-bottom: 190px;*/
}

@keyframes transitionIn{
    from {
        opacity:0;
        transform: rotateX(-10deg);
    }
    to{
        opacity: 1;
        transform: rotateX(0);
    }
}

.page h1{
    text-align: center;
    font-size: 50px;
    padding-top: 80px;
    padding-bottom: 20px;

}

.listImage{
    width: 500px;
    height: auto;
    position: absolute;
    margin-left: 850px;
    margin-top: 200px;
    padding-right: 20px;
}
.image{
    display: block;
    width: 600px;
    height: auto;
    min-width: 400px;
    margin-left: 100px;
}

.first{
    font-size: 23px;
    /*width: 37%;*/
    width: 610px;
    word-wrap: break-word;
    position: absolute;
    text-align: left;
    margin-left: 800px;
    margin-top: -330px;
}
.content{
    width: 100%;
    padding: 10px 0;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-width: 400px;
    align-content: center;

}

/*
.content h2{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    font-size: 30px;
    text-align: center;
}


*/
.second{
    font-weight: 900;
    padding-top: 80px;
    font-size: 25px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-weight: 100px;
}
.text{
    font-size: 18px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-weight: 100px;
        padding-bottom: 60px;

}

.text li{
     line-height: 50px;
}
.centerText{
    font-size: 30px;
    width: 80%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-weight: 300%;
}

.featuredImages{
    justify-content: center;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

.featuredImages img{
    transition: transform 2s;
    padding-left: 50px;
    padding-right: 50px;
    margin: 0;
}

.featuredImages img:hover{
    transform: scale(1.2);
}


.hello {
    padding-top: 50px;
    justify-content: center;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    
}

.hello img {
    padding-left: 20px;
    padding-right: 20px;
}

.container {
    position: relative;
    width: 50%;
}
  
.animatedImage1 {
    width: 370px;
    height: 250px;
    transition: transform 2s;
    display: block;
    /* width: 100%; */
}

.animatedImage2 {
    transition: transform 2s;
    display: block;
    width: 370px;
    height: 250px;

}

.animatedImage3 {
    transition: transform 2s;
    display: block;
    width: 370px;
    height: 250px;
}

.overlay {
    position: absolute;
    top: -15px;
    bottom: -14px;
    left: -3px;
    right: 0;
    height: auto;
    /* padding: 50px; */
    /* padding-left: 50px; */
    opacity: 0;
    background-color: black;
}

.container:hover img {
    transition: 1s ease;
    transform: scale(1.1);
} 

.container:hover .overlay {
    opacity: 0.5;
    width: 375px;
}

.text1 {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}


@keyframes move_wave {
    0% {
        transform: translateX(0) translateZ(0) scaleY(1)
    }
    50% {
        transform: translateX(-25%) translateZ(0) scaleY(0.55)
    }
    100% {
        transform: translateX(-50%) translateZ(0) scaleY(1)
    }
}
.waveWrapper {
    overflow: hidden;
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
    height: 200px;
    margin-left: -9px;
    margin-right: -9px;
    margin-top: -200px;
    width: 105%;
}
.waveWrapperInner {
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: 100%;
    bottom: -1px;
    background-image: linear-gradient(to top, #000000 20%, #00008B 80%);
}
.bgTop {
    z-index: 15;
    opacity: 0.5;
}
.bgMiddle {
    z-index: 10;
    opacity: 0.75;
}
.bgBottom {
    z-index: 5;
}
.wave {
    position: absolute;
    left: 0;
    width: 200%;
    height: 100%;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    transform-origin: center bottom;
}
.waveTop {
    background-size: 50% 100px;
}
.waveAnimation .waveTop {
  animation: move-wave 3s;
   -webkit-animation: move-wave 3s;
   -webkit-animation-delay: 1s;
   animation-delay: 1s;
}
.waveMiddle {
    background-size: 50% 120px;
}
.waveAnimation .waveMiddle {
    animation: move_wave 10s linear infinite;
}
.waveBottom {
    background-size: 50% 100px;
}
.waveAnimation .waveBottom {
    animation: move_wave 15s linear infinite;
}
