

.topnav {
  background-color: #333;
  overflow: hidden;
}
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}
.wholepage{
  font-family: "Trebuchet MS" ;

}
.header {

  text-align: center;
  background-color: #F4F4F4;
  padding-bottom: 60px;
  padding-top: 50px;
  margin: 0px;
}
#bigTitle{
  font-size: 70px;
}

#smallTitle{
  font-size: 30px;
}
#frontimage{
  float: left;
  width: 650px; 
  height: auto;
}

.offerContact{
  margin:0px;
  background-color: #E1EFF2;
}

.offer{
  padding-top: 0px;
  padding-right: 200px;
  text-align: right;
}
#whatweoffer{
  margin-top:100px;
  font-size: 60px;


}
#offerlist{
  padding-right: 120px;
  line-height: 80px;
  display: inline-block;
  text-align:left;
  font-size:30px;
}
.space { margin-top: 250px; }

.contact{
  text-align: center;
  padding-bottom: 100px;
}
#contactus{
  font-size: 20px;
}
