body{
  min-width: 1600px;
}
.logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  margin-top: 40px;
  width: 125px;
  height: auto;
}
#template{
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
#contact{
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
.navwrapper{
  text-align:center;
}
.topnav {
  background-color: #FFFFFF;
  overflow: hidden;
  display: inline-block;
  padding-bottom: 40px;
}
.topnav a {
  float: left;
  color: #050505;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}
#header{
	text-align: center;
	margin-bottom: 60px;
  margin-top:30px;
	font-size: 50px;
}

.allen{
	background-color: #F4F4F4;
	padding: 50px 100px;
	margin: 40px 100px;
	height: 400px;
}

.richard{
  background-color: #F4F4F4;
  padding: 50px 100px;
  margin: 20px 100px;
  height: 400px;
}
.mike{
  background-color: #F4F4F4;
  padding: 50px 100px;
  margin: 40px 100px;
  height: 400px;
}
#richardimage{
  float: left;
  width: 200px; 
  height: auto;
}

#allenimage{
  float: left;
  width: 200px; 
  height: auto;
}
#mikeimage{
  float: left;
  width: 200px;
  height: auto;
}
.wholepage{
  font-family: 'Raleway', sans-serif;
}

.bio{
  padding-left: 300px;
}
#titleAllen{
  font-size: 35px;
}
#titleRichard{
  font-size: 35px;
}
#titleMike{
  font-size: 35px;
}
.content{
  animation:transitionIn 2s;
}
@keyframes transitionIn{
  from {
    opacity:0;
    transform: rotateX(-10deg);
  }
  to{
    opacity: 1;
    transform: rotateX(0);
  }
}